body {
  background-color: #171717;
  height: 100vh;
  color: white;
  margin: 0px;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.6;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
